.board {
    border: 1px solid black;
    width: fit-content;
    background-color: skyblue;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}



.grid-lines {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-item {
    outline: 1px solid grey;
    width: 50px;
    height: 50px;
}

/* Food */
.is-food::before {
    content: '*';
    color: red;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.is-food::before.remove {
    display: none;
}

/* Snake */

/* Snake Head */
.is-head::before {
    content: '😎';
    rotate: -90deg;
    background-color: black;
    color: black;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.is-head.turn-head {
    rotate: 90deg;
}

/* Snake body */

.grid-item.is-body {
    background-color: green;
    /* or any color for the snake body */
}


@media screen and (max-width:830px) {
    .board {
        width: 500px;
    }
}

@media screen and (max-width:570px) {
    .board {
        width: 300px;
    }
}